* {
	box-sizing:border-box;
	font-family:'Segoe UI';
	margin:0;
	padding:0;
}
body {
	background-color:#2d216563;
}
a {
	color:#000;
	position:relative;
	text-decoration:none;
}
h1 {
	color:#ececec;
	font-size:4rem;
}
span {
	color:#00b62d;
}
/*--------------BODY--------------*/
.wrapper {
	margin-left:250px;
	position:relative;
}
.container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:start;
	margin-right:15px;
	margin-top:15px;
}

/*--------------NAV_BAR---------------*/
.nav-bar {
	align-items:center;
	background-color:#460000;
	display:flex;
	justify-content:center;
	margin-right:0;
	padding:15px;
}
.title-logo {
	margin-right:1rem;
}
.logo {
	width:100px;
}

/*--------------SELECTION-CONTAINER---------------*/
.selection-links::after {
	background-color:#ececec;
	bottom:0;
	content:"";
	height:4px;
	left:0;
	position:absolute;
	transform:scaleX(0);
	transform-origin:left;
	transition:700ms;
	width:100%;
}
.selection-links:hover::after {
	transform:scaleX(1);
	transform-origin:left;
}
.selection-links {
	background:#0c1c42b8;
	display:flex;
	margin:auto auto 15px 15px;
	padding:2rem;
	position:relative;
}
.selection-links:hover {
	background-color:#2147a0cc;
	transition:250ms;
}
.selection-links h2 {
	color:#e8e8e8;
	font-size:2rem;
	margin:0 0 0 1rem;
}
.icon-link {
	width:50px;
}

/*--------------NAV_BAR_SIDE---------------*/
.sidebar {
	background:#1f1f1f;
	height:100%;
	padding:30px 15px;
	position:fixed;
	width:250px;
}
.side-container {
	align-items:center;
	border:3px solid #828282;
	border-radius:15px;
	display:flex;
	justify-content:center;
	margin-bottom:20px;
	margin-right:auto;
	padding:.5rem;
}
.side-container:first-child {
	flex-direction:column;
	margin-bottom:70px;
	text-align:center;
}
.side-text-primary {
	color:#fff;
	font-size:1.1rem;
	font-weight:500;
	margin-left:.5rem;
}
.side-text-secondary {
	color:#fff;
	font-weight:500;
}
.icon-primary {
	margin-bottom:.5rem;
	width:60px;
}
.icon-secondary {
	margin-right:.4rem;
	width:30px;
}

/*--------------RESPONSIVE---------------*/
@media screen and (max-width: 799px) {
    h1 {
        font-size:1.5rem;
    }
    .wrapper {
        margin-left:100px;
    }
    .sidebar {
        padding:13px 5px;
        width:100px;
    }
    .side-container {
        border:1px solid #828282;
        border-radius:5px;
        margin-bottom:10px;
        padding:.2rem;
    }
    .side-container:first-child {
        margin-bottom:20px;
    }
    .side-text-primary {
        font-size:.42rem;
    }
    .icon-secondary {
        width:12px;
    }
    .side-text-secondary {
        font-size:.4rem;
    }
    .container {
        margin-right:7px;
        margin-top:7px;
    }
    .selection-links {
        margin:auto auto 7px 7px;
        padding:.8rem;
    }
    .selection-links h2 {
        font-size:.8rem;
    }
    .selection-links::after {
        height:2px;
    }
    .icon-link {
        height:20px;
        width:20px;
    }
    .icon-primary {
        margin:.2rem;
        width:25px;
    }
    .logo {
        width:40px;
    }
}
